@import 'settings/mixins';
@import 'settings/colors';

.works {
  @include background;
  @include title;

  .works-container {
    @include container;

    .single-work-container {
      width: 100%;
      height: 100%;
      margin-bottom: 2.6rem;
      position: relative;

      @include single-responsive;

      .single-work {
        width: 100%;
        border-radius: 0.5rem;
      }

      .yellow-overlay {
        background: #F7E626;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        font-size: 2rem;
        color: $dark;
        font-weight: 700;
        text-align: center;
        transition: .55s ease-in-out;
        opacity: 0;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}