
.about {
  width: 100vw;
  background-color: rgb(10, 10, 10);

  .container {
    width: 100%;
    max-width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12rem 7vw 8rem 7vw;
    margin: 0 auto;

    @media (min-width: 570px) {
      max-width: 72rem;
    }

    @media (min-width: 770px) {
      max-width: 85rem;
    }

    @media (min-width: 1000px) {
      max-width: 140rem;
    }

  }

  .about-title {
    font-size: 6vh;
    line-height: 6vh;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.1rem;
    font-weight: 900;
    letter-spacing: .8rem;
    padding-left: 1rem;
    margin-bottom: 5rem;

    .text-colored {
      -webkit-text-fill-color: #F7E626;
      -webkit-text-stroke-width: 0;
    }
  }

  .about-top-section {

    @media (min-width: 1000px) {
      display: flex;
    }

    .about-quote {
      position: relative;
      display: inline-block;
      padding: 3rem;
      background-color: #F7E626;
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.3rem;
      text-align: left;

      @media (min-width: 1000px) {
        margin-right: 3rem;
        max-width: 50%;
      }

      .quote-triangle {
        position: absolute;
        bottom: -1.2rem;
        left: 4rem;
        height: 2.8rem;
        width: 2.8rem;
        background-color: #F7E626;
        transform: rotate(45deg);

      }
    }

    .about-description {
      font-size: 1.6rem;
      color: white;
      line-height: 3rem;
      letter-spacing: 0.07rem;
      font-weight: 300;
      text-align: left;
      margin-top: 5rem;

      @media (min-width: 1000px) {
        margin-top: 0;
        max-width: 50%;
      }
    }
  }

  .group-photo {
    width: 100%;
    height: auto;
    margin-top: 7rem;
  }

  .about-team {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;

    @media (min-width: 570px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: 1000px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .team-member {
      text-align: center;
      color: white;

      @media (min-width: 570px) {
        width: 45%;
        margin: 2rem .66rem;
      }

      @media (min-width: 770px) {
        margin: 2rem .905rem;
      }

      @media (min-width: 1000px) {
        margin: 2rem 0;
        width: 31%;
      }

      .member-photo-frame {
        width: 100%;
        overflow: hidden;

        .member-photo {
          width: 100%;
          transition: transform .7s ease-in-out;
          vertical-align: middle;

          &:hover {
            transition: transform .7s ease-in-out;
            transform:scale(1.1);
            -ms-transform:scale(1.1); /* IE 9 */
            -moz-transform:scale(1.1); /* Firefox */
            -webkit-transform:scale(1.1); /* Safari and Chrome */
            -o-transform:scale(1.1);
          }
        }
      }

      .member-name {
        margin-top: 1.8rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 500;
      }

      .member-position {
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-weight: 300;
      }

      .member-sm {
        font-size: 1.3rem;
        margin-top: 1.5rem;
        margin-bottom: 1.2rem;

        .fab {
          color: white;
          margin: 0 .7rem;

          &:hover {
            color: #F7E626;
          }
        }
      }
    }
  }
}