@import 'settings/mixins';

.blog {
  @include background;
  @include title;

  .blog-container {
    @include container;

    .single-article {
      margin-bottom: 6rem;

      @include single-responsive;

      .article-image {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
      }

      .article-content {
        display: flex;

        .article-date {
          color: #F7E626;
          padding: 0 1rem;
          margin-right: 1rem;

          .day {
            font-size: 3.5rem;
            font-weight: 600;
            margin-bottom: 0.7rem;
            text-align: center;
            text-justify: inter-word;
          }
          .month {
            font-size: 1.3rem;
            letter-spacing: 0.6rem;
            text-align: center;
            text-justify: inter-word;
          }
        }

        .article-text {
          color: white;

          .title {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1.4rem;
          }
          .text {
            font-size: 1.5rem;
            line-height: 2.6rem;
          }
        }
      }
    }
  }
}