.menu-bar {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1.5rem 0;
  background-color: #111111;
  height: 8rem;

  @media (min-width: 900px) {
    background-color: black;
  }

  .container{
    width: 100%;
    max-width: 145rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (min-width: 900px) {
      justify-content: flex-start;
    }


    .menu-logo {
      cursor: pointer;
      margin-left: 2rem;
      margin-right: 3rem;
      z-index: 1;
    }

    .hamburger-icon {
      margin-right: 2rem;
      height: 4.8rem;
      width: 4.8rem;
      z-index: 1;

      @media (min-width: 900px) {
        display: none;
      }
    }

    .menu-list-mobile {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: black;
      height: 60vh;
      width: 100%;
      padding: 10rem 0 3rem 0;

      @media (min-width: 900px) {
        display: none;
      }

      .menu-item {
        font-size: 1rem;
        font-family: "Al Tarikh", sans-serif;
        color: white;
        letter-spacing: 0.3rem;
        padding: 2.5rem 6rem;
      }
    }

    .menu-list {
      display: none;

      @media (min-width: 900px) {
        display: flex;
      }

      .menu-item {
        font-size: 1rem;
        font-family: "Al Tarikh", sans-serif;
        color: white;
        padding: 2rem 3rem;
        cursor: pointer;
        transition: linear .3s;
        letter-spacing: 0.2rem;

        &:hover {
          color: #F7E626;
          letter-spacing: 0.4rem;
          font-weight: 400;
        }
      }
    }
  }

}