@import 'settings/colors';

.menu-bar {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1.5rem 0;
  background-color: $secondary;
  height: 8rem;

  @media (min-width: 900px) {
    background-color: $dark;
  }

  .container{
    width: 100%;
    max-width: 145rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;

    @media (min-width: 900px) {
      justify-content: flex-start;
    }


    .menu-logo {
      cursor: pointer;
      margin-left: 2rem;
      margin-right: 3rem;
      z-index: 1;
      max-height: 4.8rem;
    }

    .hamburger-icon {
      margin-right: 2rem;
      height: 4.8rem;
      width: 4.8rem;
      z-index: 1;

      @media (min-width: 900px) {
        display: none;
      }
    }

    .menu-list-mobile {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: $dark;
      height: 60vh;
      width: 100%;
      padding: 10rem 0 3rem 0;

      @media (min-width: 900px) {
        display: none;
      }

      .menu-item {
        font-size: 1rem;
        font-family: "Al Tarikh", sans-serif;
        color: $font;
        letter-spacing: 0.3rem;
        padding: 2.5rem 6rem;

        &.sm {
          display: none;

          @media (min-width: 900px) {
            font-size: 3rem;
            padding: 1rem 0;
          }
        }

      }
    }

    .menu-nav {
      display: flex;
      position: absolute;
      width: 100%;
      margin: 0;
      top: -1.5rem;

      @media (min-width: 900px) {
        position: unset;
      }

      .menu-list {
        display: none;

        @media (min-width: 900px) {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%
        }

        .menu-item {
          font-size: 1rem;
          font-family: "Al Tarikh", sans-serif;
          color: $font;
          padding: 2rem 3rem;
          cursor: pointer;
          transition: linear .3s;
          letter-spacing: 0.2rem;

          &.sm {
            margin-left: auto;
            margin-right: 2rem;
            font-size: 3rem;
            padding: 1rem 0;
          }

          &:hover {
            color: $primary;
            letter-spacing: 0.4rem;
            font-weight: 400;
          }
        }
      }
    }

    .menu-sm {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      right: 2.5rem;
      top: 8rem;
      cursor: pointer;
      transition: opacity 1.3s, visibility 1.3s ease-in-out;
      opacity: 1;
      visibility: visible;

      &.default {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.3s, visibility 1.3s ease-in-out;
      }

      .fab {
        color: white;
        font-size: 3rem;
        margin-top: 2.5rem;
        z-index: 0;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}