@import 'settings/mixins';

.services {
  @include background;

  @media (min-width: 1000px) {
    height: 100vh;
  }

  @include title;

  .services-container {
    @include container;

    .single-service {
      display: flex;
      height: auto;
      margin-bottom: 4rem;

      @include single-responsive;

      .fas {
        background-color: #F7E626;
        font-size: 2.5rem;
        padding: 2.5rem;
        margin-right: 2.7rem;
        max-height: 7.5rem;
        width: 7.5rem;
      }

      .service-content {
        color: white;

        .content-title {
          font-size: 2.1rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        .content-text {
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 2.6rem;
        }
      }
    }
  }
}